*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

main{

    display: flex;
    align-items: stretch;
    height: 1000px;
    margin-bottom: 100px;

}



footer{
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    z-index: 10;
}

#mainContainer{
    width: 100%;
    margin: 5px 5px 5px 15px;
}

#leftSideContainer{
    width: 15%;

    background: rgb(30,27,2);
    background: linear-gradient(0deg, rgba(30,27,2,1) 0%, rgba(16,14,1,1) 100%);
}

#rightSideContainer{
    width: 85%;
    height: 100%;
    background: rgb(139,129,37);
    background: linear-gradient(150deg, rgba(139,129,37,1) 0%, rgba(16,14,1,1) 100%);
    overflow: auto;
}



#headerMain nav{
    display: none;
}

#hamburgerMenu{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.9);
}


@media screen and (min-width: 768px) {

    #mainContainer{
        max-width: 75%;
        margin: 0 auto;
    }
    #hamburgerMenu{
        display: none;
    }

    #headerMain nav{
        margin:30px 0;
        display: block;
    }

    #headerMain a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;

    }
    #headerMain a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255,1);


    }
    #headerMain ul li:first-child a {
        text-decoration: none;
        color: rgba(255, 255, 255,1);
        position: relative;
    }
    #headerMain ul li:first-child a::before {
        content: "";
        position: absolute;
        left: 33%;
        width: 33%;
        border-bottom: 2px solid rgba(63,170,76,1);
        bottom: -5px;
    }

    #headerMain nav ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-around;
    }

    #headerMain nav ul li{
        list-style-type: none;
        margin: 5px;
        white-space: nowrap;

    }
}
