*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

main{

    display: flex;
    align-items: stretch;
    /* height: 1000px; */
    margin-bottom: 100px;

}



footer{
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* main section */
#mainContainer{
    width: 100%;
    margin: 5px 5px 5px 15px;
}

#leftSideContainer{
    width: 15%;
    background: rgb(30,27,2);
    background: linear-gradient(0deg, rgba(30,27,2,1) 0%, rgba(16,14,1,1) 100%);
}

#rightSideContainer{
    width: 85%;
    background: rgb(139,129,37);
    background: linear-gradient(150deg, rgba(139,129,37,1) 0%, rgba(16,14,1,1) 100%);
    overflow: auto;
}



#headerMain nav{
    display: none;
}

#hamburgerMenu{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.9);
}

#songMain{

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

}
.containerLineFeaturesSongs{
    margin: 20px auto;
}

.containerLineFeaturesSongs h2{
    margin: 15px 30px;
    color: white;
    font-size: 36px;
}
.lineFeaturesSongs{

    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    margin: 5px;
}

.song{
    max-width: 150px;
    margin: 10px;
}

.songImg{
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}
.rounded{
    border-radius: 50%;
}

p.author{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    text-align: center;
    padding: 5px;
}
/* end main section */
/* footer */
#currentSong{

    margin: 5px;
    flex-basis: 15%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;

}

#currentSong img {
    height: 40px;
    width: 40px;
    padding: 3px;
}

.songDetail{
    display: none;
}


#playerContainer{
    margin: 5px;
    flex-basis: 75%;
    display: flex;
    flex-flow: column;
    align-content: space-around;
}

.commandLine,#durationSongLine {
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.commandLine{
    width: 80%;

}

#playerContainer .commandLine i{
    font-size: 1.3rem;
}
#volumeContainer .commandLine i{
    font-size: 0.8rem;
}

#durationSongLine{
    width: 100%;
    margin: auto;
    font-size: 0.7rem;

}
.time{
    padding: 15px;
}
.bullet{
    visibility: hidden;
}
.bulletSlider:hover .bullet{
    visibility: visible;
    top:36%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.bulletSlider{
    position: relative;
    width: 100%;
}
.bulletSlider::before,
.bulletSlider::after {
    content: '';
    display: inline-block;
    width: 50%;
    height: 3px;
    position: absolute;
    top: 50%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bulletSlider::before {
    background-color: rgba(255, 255, 255, 1);
    left: 0;
}
.bulletSlider:hover::before {
    background-color: rgba(42, 182, 88, 1);

}

.bulletSlider::after {
    right: 0;
}

#volumeContainer{
    display: none;

}

.loveSong{
    padding: 5px;
}
/* end footer */
/* end main section */

@media screen and (min-width: 576px) {



}


@media screen and (min-width: 768px) {

    #mainContainer{
        max-width: 75%;
        margin: 0 auto;
    }
    #hamburgerMenu{
        display: none;
    }
    #headerMain{
        margin: 0 auto;
        width: 65%;
    }
    #headerMain nav{

        margin:30px 0;
        display: block;
    }

    #headerMain a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;

    }
    #headerMain a:hover {
        text-decoration: none;
        color: rgba(255, 255, 255,1);


    }
    #headerMain ul li:first-child a {
        text-decoration: none;
        color: rgba(255, 255, 255,1);
        position: relative;
    }
    #headerMain ul li:first-child a::before {
        content: "";
        position: absolute;
        left: 33%;
        width: 33%;
        border-bottom: 2px solid rgba(63,170,76,1);
        bottom: -5px;
    }

    #headerMain nav ul{
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-around;
    }

    #headerMain nav ul li{
        list-style-type: none;
        margin: 5px;
        white-space: nowrap;

    }

    .songImg{
        width: 150px;
        height: 150px;
    }

    p.author{
        font-size: 15px;
    }

    .songDetail{
        display: inline-block;
        line-height: 2;
        white-space: nowrap;
    }
    .songDetail h3{
        font-size: 10px;
        font-weight: bold;
    }
    .songDetail h4{
        font-size: 8px;
        font-weight: lighter;
    }

    #playerContainer{

        flex-basis: 50%;
    }
    #currentSong{

        flex-basis: 25%;
    }

    #currentSong img {
        height: 50px;
        width: 50px;
    }





    .commandLine {
        width: 50%;
    }



    #volumeContainer{
        display: flex;
        flex-basis: 25%;

    }
    #volumeContainer .commandLine{
        width: 80%;
        padding: 5px;

    }
    #volumeContainer .commandLine .bulletSlider{
        width: 60%;
        margin: 0;
        padding: 0;
    }
    #volumeContainer .commandLine .bulletSlider:hover .bullet{
        /* top:10%; */

        padding: 0;
    }
}

@media screen and (min-width: 992px) {

    #currentSong{

        flex-basis: 18%;
    }

    #currentSong img {
        height: 55px;
        width: 55px;
    }

    .songDetail h3{
        font-size: 12px;

    }
    .songDetail h4{
        font-size: 10px;

    }

    .commandLine {
        width: 40%;
    }

    #volumeContainer{

        flex-basis: 18%;
    }

}
