*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

main{
    display: flex;
    align-items: stretch;
    height: 1000px;

}

footer{
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
    z-index: 10;
}

#sidebar{
    width: 15%;

    background: rgb(30,27,2);
    background: linear-gradient(0deg, rgba(30,27,2,1) 0%, rgba(16,14,1,1) 100%);
}

#mainContainer{
    width: 85%;
    height: 100%;
    background: rgb(139,129,37);
    background: linear-gradient(150deg, rgba(139,129,37,1) 0%, rgba(16,14,1,1) 100%);
    overflow: auto;
}
